@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-blue-500;
    text-decoration: underline;
}

a:hover {
    @apply text-blue-700;
}

body{ 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;

    font-weight: lighter;
    font-size:large;
    /* margin-left: 8cm;
    margin-right: 8cm;
    margin-top: 4cm;
    margin-bottom: 5cm; */

}

style
.flourish {
  width: 20px;
  height: 20px;
} 